html {
  font-family: Overpass, sans-serif;
  background-image: linear-gradient(180deg, #ff9500, #ff5e3a);
}

h1 {
  color: #fff;
  text-align: center;
}

h2 {
  color: #fff;
}

p {
  color: #fff;
}

.btn-ghost {
  color: #fff;
  text-decoration: none;
  border: 2px solid white;
}

.btn:hover {
  color: rgba(255, 255, 255, 1);
}

i {
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .cards {
    padding-bottom: 2em;
  }

}
